@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: hsl(229, 6%, 66%);
}

/* The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px */

/* Very Dark Blue: hsl(234, 12%, 34%)
- Grayish Blue: hsl(229, 6%, 66%)
- Very Light Gray: hsl(0, 0%, 98%) */

/* Red: hsl(0, 78%, 62%)
- Cyan: hsl(180, 62%, 55%)
- Orange: hsl(34, 97%, 64%)
- Blue: hsl(212, 86%, 64%) */

/* Header Styles */
.main-header {
  padding-top: 90px;
  padding-bottom: 78px;
  width: 100%;
  min-width: 293px;
  margin: 0 auto;
  text-align: center;
}

.title1 {
  font-size: 25px;
  font-weight: 200;
  color: hsl(229, 6%, 66%);
}

@media (min-width: 640px) {
  .title1 {
    font-size: 36px;
  }
}

.title2 {
  font-size: 25px;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
}

@media (min-width: 640px) {
  .title2 {
    font-size: 36px;
  }
}

.titles__description {
  font-size: 16px;
  margin: 0 auto;
  padding: 25px 0 0;
  width: 325px;
}

@media (min-width: 640px) {
  .titles__description {
    width: 536px;
  }
}

/* Product Container */
.product-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-bottom: 80px;
}

@media (min-width: 640px) {
  .product-container {
    flex-direction: row;
    margin: 0 163px 80px;
  }
}

/* feature boxes */
.stack-boxes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

@media (min-width: 640px) {
  .stack-boxes {
    margin: 0;
  }
}

.feature-container {
  margin: 0 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 32px;
  min-width: 311px;
  max-width: 311px;
  min-height: 222px;
  max-height: 222px;
  box-shadow: 0px 16px 12px 5px rgba(232,232,232,0.75);
}

@media (min-width: 640px) {
  .feature-container {
    min-width: 375px;
    max-width: 375px;
    min-height: 250px;
    max-height: 250px;
    margin: 0;
  }
}

.content__title {
  margin-bottom: 12px;
  color: hsl(234, 12%, 34%);
  font-size: 22px;
}

.content__description {
  margin-bottom: 36px;
}

.img-container {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* box border colors */
.box1 {
  border-top: 4px solid hsl(180, 62%, 55%);
}

.box2 {
  border-top: 4px solid hsl(0, 78%, 62%);
}

.box3 {
  border-top: 4px solid hsl(34, 97%, 64%);
}

.box4 {
  border-top: 4px solid hsl(212, 86%, 64%);
}

